<!DOCTYPE html>
<!--
{#
 - add language navigator on top
 - add search on top
 - add tags on top?
#}
-->
<html lang="en">
<head>
  <title>{% block head_title %}{{ SITENAME }}{% endblock %}</title>
  <meta charset='utf-8'>

  <link rel="alternate" type="application/atom+xml" title="{{ SITENAME }} Feed" href='{{ FEEDDOMAIN }}/{{ FEED_ALL_ATOM }}'>

  <link rel="stylesheet" href="/theme/css/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/theme/css/time-flies.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/theme/css/print.css" type="text/css" media="print">
</head>

<body>
<div id="page">
  <div id='links'>
    <a class='img' title='Fork me on GitHub' href='https://github.com/mounirlamouri/'><img src='/images/github.png'></a>
    <a class='img' title='Follow me on Twitter' href='https://twitter.com/mounirlamouri/'><img src='/images/twitter.png'></a>
    <a class='img' title='My LinkedIn' href='http://uk.linkedin.com/in/mlamouri/'><img src='/images/linkedin.png'></a>
  </div>
  <div id='top'>
    <h1><span>
      {% block page_title %}<a href='{{ SITEURL }}'>{{ SITENAME }}</a>{% endblock %}
    </span></h1>
  </div>

  <div id="wrapper">
    <div id="main">
      <div id="content">
  {% block content %}{% endblock %}
      </div>
    </div>
  </div>

  <div id="footer">
    <p>Powered by <a href="http://getpelican.com">Pelican</a></p>
  </div>
</div>

<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//analytics.lamouri.fr/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->

</body>
</html>
