{% extends "base.html" %}

{% block page_title %}Mounir Lamouri's Resumé{% endblock %}
{% block head_title %}Mounir Lamouri's Resumé{% endblock %}

{% block content %}

<style>
  li {
    list-style-type: none;
  }
  .title {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  .title small {
    font-weight: normal;
  }
  .sub-title {
    font-weight: bold;
    margin-bottom: 0.75em;
  }
  .date {
    margin-right: 1em;
  }
  .sub-title > .date {
    font-weight: normal;
    margin-right: 1.2em;
  }
  p {
    margin-bottom: 0.75em;
  }
  address {
    display: inline-block;
    margin: 0;
  }
  .company {
    font-size: 1.05em;
  }
  .location {
    text-align: right;
    font-weight: normal;
    display: inline-block;
    float: right;
    /*  */
  }
  .location > img {
    height: 18px;
    vertical-align: text-bottom;
  }
  #content a,
  #content a:link,
  #content a:visited,
  #content a:hover {
    color: inherit;
    font-weight: inherit;
    text-decoration: none;
    font-style: normal;
  }

  @media screen, projection {
    #name, #bestviewed {
      display: none;
    }
    h2 {
      margin-top: 1em;
    }
    .title {
      text-indent: -8.5em;
      margin-top: 1.5em;
      margin-bottom: 1.0em;
    }
    .sub-title {
      text-indent: -8.5em;
    }
    .date {
      display: inline-block;
      width: 7em;
      text-align: right;
    }
    #content a {
      border-bottom: 1px black dotted;
    }
  }

  @media print {
    #links, #top, #footer, #email .label {
      display: none;
    }
    #name {
      display: block;
    }
    .title {
      text-indent: -0.5em;
    }
    a:link:after, a:visited:after {
      content: "";
    }
    ul {
      padding-left: 0px;
    }
    abbr {
      border-bottom: none;
    }
    #bestviewed {
      font-size: 75%;
      text-align: right;
      position: absolute;
      right: 0.5em;
      top: 2.5em;
    }
    header {
      margin-bottom: 4em;
    }

    /* from blog theme */
    body {
      color : #333;
      font-family : Georgia, "Time New Roman", Serif;
      margin: 2em;
    }
    h1, h2, h3, h4 {
      color : #333;
      font-weight : normal;
      font-family : Baskerville, Palatino, "Palatino Linotype", Georgia, "Time New Roman", Serif;
    }
  }
</style>

<header>
  <h1 id='name'>Mounir Lamouri</h1>
  <div id='email'>
    <span class='label'>Contact me:</span>
    <address><a href='mailto:mounir@lamouri.fr'>mounir@lamouri.fr</a></address>
  </div>
  <div id='bestviewed'>
    Best viewed in a browser:<br>
    <a href='https://mounir.lamouri.fr/resume.html'>https://mounir.lamouri.fr/resume.html</a>
  </div>
</header>

<!--
<section>
  <h2>Summary</h2>

  <p>I am a Platform Engineer looking for challenging projects that have an
  impact on people.</p>

  <p>I worked in the video-game industry for a cumulative time of 2 years,
  shipping two AAA games and one independent game. Since then, I have been
  working on improving the Web Platform with Mozilla.</p>

  <p>I developed a keen interest in Web Standards and designing APIs for the
  Web and would like to keep working on making the Web a better place.</p>

  <p>I like to write clean, simple and tested code. My main programming language
  is C++ and I have - from little to heavy - professional experiences with C,
  Java, Python, Objective-C, Bash, and Javascript/HTML/CSS.</p>
</section>
-->

<section>
  <h2>Work Experience</h2>

  <ul>
    <li>
      <div class='title'><span class='date'>2013 - Present</span>
      <span class='company'><a href='https://google.com'>Google</a></span></div>
      <p>
        <div class='sub-title'>
          <span class='date'>2021 - Present</span>
          Staff Software Engineer, Meet
          <span class='location'>
            <img src='/images/outline_location_city_black_18dp.png'>
            Seattle, WA, USA
          </span>
        </div>
        <p>
          Tech Lead Manager for Meet's Libraries team, a frontend team providing
          the model and media layers to the UI/app layers. The team is
          responsible for the reliability, performance and coherence of the Meet
          platform across Android, iOS, and Web.
        </p>
        <p>
          The group is split into 4 sub-teams for a total of up to 17 engineers
          directly reporting to me.
        </p>
      </p>
      <p>
        <div class='sub-title'>
          <span class='date'>2018 - 2021</span>
          Staff Software Engineer, Chrome Media
          <span class='location'>
            <img src='/images/outline_location_city_black_18dp.png'>
            Kitchener, ON, Canada<br>Seattle, WA, USA
          </span>
        </div>
        <p>
          Tech Lead Manager on Chrome Media, leading two teams (11 reports)
          working on making Chrome and Chrome&nbsp;OS best-in-class to consume
          audio, video, AR, and VR.
        </p>
        <p>
          Initiated and delivered an industry-leading <a
          href='https://blog.google/products/chrome/live-caption-chrome/' target='_blank'>automatic
          captioning feature in Chrome</a> using on-device machine learning.<br>
          Drove <a href='https://9to5google.com/2021/01/08/chrome-kaleidoscope-streaming-service/'
          target='_blank'>in-browser media recommendation hub</a> based on browsing history
          and user profile. Project was fully functional but didn't launch.
        </p>
        <p>
          Led various projects to improve media management such as Global Media
          Controls on (<a href='https://blog.google/products/chrome/manage-audio-and-video-in-chrome/'>Desktop</a>, <a href='https://developers.google.com/web/updates/2017/02/media-session'
          target='_blank'>Mobile</b>, <a href='https://www.google.com/chromebook/whatsnew/march-2021/#:~:text=Easily%20access%20your%20media%20controls'
          target='_blank'>Chrome OS</a>), <a href='https://blog.google/products/chromebooks/whats-new-december2019/'
          target='_blank'>lockscreen integration</a>, or <a
          href='https://developers.google.com/web/updates/2018/10/watch-video-using-picture-in-picture'
          target='_blank'>Picture-in-Picture</a>.
        </p>
        <p>
          Drove launch of WebXR in Chrome Android, <a
          href='https://chromeunboxed.com/chrome-81-brings-ar-to-the-browser-with-webxr-and-its-blowing-my-mind/'
          target='_blank'>pioneering</a> AR on the Web.
        </p>
        <p>
          Started and co-chaired the <acronym
          title='World Wide Web Consortium'>W3C</acronym> <a
          href='https://www.w3.org/2019/05/media-wg-charter.html'
          target='_href'>Media Working Group</a>, facilitating APIs
          standardisation across the industry.
        </p>
        <!--
          Set aside: media controls, surface layer
        -->
      </p>
      <p>
        <div class='sub-title'><span class='date'>2014 - 2018</span>
          Staff Software Engineer, Web Platform
          <span class='location'>
            <img src='/images/outline_location_city_black_18dp.png'>
            London, United Kingdom
          </span>
        </div>
        <p>
          Kicked off and led a team of 7 engineers focused on improving the web
          media experience. Brought internal focused on the <a
          href='https://www.youtube.com/watch?v=_ssDaecATCM&t=1284s' target='_blank'>problem
          space</a>. Initiated industry-changing projects such as <a
          href='https://blog.chromium.org/2017/09/unified-autoplay.html' target_='blank'>autoplay
          policy</a> changes in Chrome.<br>
          Drove APIs such as: <a
          href='https://wicg.github.io/mediasession/' target='_blank'>Media
          Session</a>, <a href='https://w3c.github.io/media-capabilities/'
          target='_blank'>Media Capabilities</a>, and <a
          href='https://www.w3.org/TR/remote-playback/' target='_blank'>Remote
          Playback</a>.
        </p>
        <p>
          Designed APIs for a mobile-first web, authored <acronym
          title='World Wide Web Consortium'>W3C</acronym> specifications, and
          implemented them in Chrome: <a
          href='https://www.w3.org/TR/appmanifest/'>Web Manifest</a>, <a
          href='https://www.w3.org/TR/permissions/'>Permissions</a> and <a
          href='https://www.w3.org/TR/screen-orientation/'>Screen
          Orientation</a>. Contributed to the Push Notifications and
          Service Worker.
        </p>
      </p>
      <p>
        <div class='sub-title'><span class='date'>2013 - 2014</span>
          Software Engineer, Chrome OS
          <span class='location'>
            <img src='/images/outline_location_city_black_18dp.png'>
            Sydney, NSW, Australia
          </span>
        </div>
        <p>
          Implemented new features for the Chrome Apps window management APIs
          and improved the internal cross-platform window management layer.
        </p>
      </p>
    </li>
    <li>
      <div class='title'>
        <span class='date'>2010 - 2013</span>
        <span class='company'><a href='https://mozilla.org' target='_blank'>Mozilla</a></span>
      </div>
      <p>
        <div class='sub-title'><span class='date'>2011 - 2013</span>
          Senior Software Engineer, Firefox&nbsp;OS
          <span class='location'>
            <img src='/images/outline_location_city_black_18dp.png'>
            London, United Kingdom
          </span>
        </div>
        <p>
          Support <a href='https://en.wikipedia.org/wiki/Firefox_OS' target='_blank'>
          Firefox&nbsp;OS</a> by enabling the Web Platform to be a mobile app
          platform. Identified feature gaps, designed and implemented APIs with
          proof-of-concepts on Firefox for Android. Designed and implemented the
          security model for privileged applications.
        </p>
        <p>
          Main Web API reviewer for the project, I supported other teams by
          coaching them through API design and facilitating the standardisation process.
        </p>
        <p>
          Represented project at the <acronym title='World Wide Web Consortium'>W3C</acronym>
          and drove standardisation process as co-chair of the <a href='https://www.w3.org/2012/sysapps/' target='_blank'>SysApps</a>
          Working Group. Designed and wrote
          the following specifications: <a href='https://www.w3.org/TR/battery-status/' target='_blank'>Battery Status API</a>,
          <a href='https://www.w3.org/TR/screen-orientation/' target='_blank'>Screen Orientation API</a>,
          <a href='https://www.w3.org/TR/netinfo-api/' target='_blank'>Network Information API</a>, and
          Runtime and Security Model for Web Applications.
        </p>
      </p>
      <p>
        <div class='sub-title'><span class='date'>2010 - 2011</span>
          Senior Software Engineer, Firefox
          <span class='location'>
            <img src='/images/outline_location_city_black_18dp.png'>
            Paris, France
          </span>
        </div>
        <p>
          Responsible for the implementation of <a
          href='https://html.spec.whatwg.org/multipage/forms.html#forms' target='_blank'>HTML5 Forms</a> in Firefox.
          <a href='https://html.spec.whatwg.org/multipage/acknowledgements.html#acknowledgments'
          target='_blank'>Contributed</a> to HTML5 specification.
        </p>
      </p>
    </li>
  </ul>
</section>

<section>
  <h2>Education</h2>

  <ul>
  <li>
  <div class='title'><span class='date'>2010</span>
    Master's Degree in Computer Sciences,
    <a href='https://www.insa-lyon.fr/en' target='_blank'>INSA Lyon</a>
    <span class='location'>
      <img src='/images/outline_location_city_black_18dp.png'>
      Lyon, France
    </span>
  </div>
  <!-- Remove details about education.
    <p>
      Studied a wide range of Computer Sciences subjects including Mathematics,
      Algorithms, Software Quality, Project/Team Management, User Interface  and
      various programming languages. Studied some Humanities topics such as
      Communication, Sociology and Languages.
    </p>
  -->
    <p>
      Exchange student at <a href='https://www.polymtl.ca/en/' target='_blank'>Polytechnique
      Montréal</a> (QC, Canada) during two semesters in 2008/2009.
    </p>
  </li>
  </ul>
</section>

<section>
  <ul>
    <h2>Other Work Experiences</h2>
    <li>
      <div class='title'><span class='date'>2007 - 2009</span>
        <span class='company'><a href='https://www.ubisoft.com/en-us/' target='_blank'>Ubisoft</a></span>
        <span class='location'>
          <img src='/images/outline_location_city_black_18dp.png'>
          Paris, France
        </span>
      </div>
      <p>
          Mix of internships and fixed-term contract while at university.
        </p>
      <p>
        <b>Gameplay Programmer, <a href='https://en.wikipedia.org/wiki/Rayman_Raving_Rabbids_2' target='_blank'>
        Rayman Raving Rabbids 2</a></b> (Nintendo Wii) - 8 months<br>
        Member of the team from inception to code freeze. Prototyped mini-game
        ideas in collaboration with level/game designers. Owned one standalone
        mini-game and all six FPS mini-games. Sole engineer on those, I
        implemented game mechanics and AI behaviours.
      </p>
      <p>
        <b>Platform Engineer, <a href='https://en.wikipedia.org/wiki/Ghost_Recon_Future_Soldier' target='_blank'>
        Ghost Recon: Future Soldier</a></b> (XBox 360/PS3) - 5 months<br>
        Improved re-usability, maintenance and quality of a core part of a
        10-year old game engine in order to improve key metrics such as memory
        usage.
      </p>
      <p>
        <b>Gameplay Programmer, Undisclosed Project</b> (Nintendo Wii) - 3 months<br>
        Prototyped gameplay ideas for an experimental music-related game in a
        small team. It required close collaboration with game/level designers
        and ability to quickly implement ideas and improve them through trial
        and errors.
      </p>
    </li>
    <li>
      <div class='title'><span class='date'>2006</span>
        Platform Engineer Intern at
        <a href='https://fr.wikipedia.org/wiki/Dancing_Dots' target='_blank'>Dancing Dots Studio</a> in Paris, France
        <small>(5-month)</small>
      </div>
      <p>Wrote a sound engine based on OpenAL, a GUI engine based on
      CEGUI, and a rhythm game prototype for <a href='https://www.gameclassification.com/EN/games/36386-Ride/index.html'
      target='_blank'></a><i>Ride!</i></a>.</p>
    </li>
  </ul>
</section>

<section>
  <h2>Other Projects</h2>

  <ul>
  <li>
    <div class='title'><span class='date'>2009 - 2012</span>
    <a href='https://www.gentoo.org/' target='_blank'>Gentoo</a> developer</div>
    <p>
      Volunteer for the Gentoo GNU/Linux distribution. Member of the PowerPC,
      voip, Portage and Mozilla teams.
    </p>
    <p>
      <a href='https://developers.google.com/open-source/soc/' target='_blank'>
      Google Summer of Code</a> (2009): Implemented a <a href='https://en.wikipedia.org/wiki/Portage_%28software%29' target='_blank'>
      Gentoo Portage</a> backend for <a href='https://www.freedesktop.org/software/PackageKit/' target='_blank'>PackageKit</a>.
    </p>
  <!-- Remove Gentoo details.
    <p>My work on Gentoo gave me the opportunity to contribute on various other
    projects, amongst them: vlc, ekiga, miro, btg, ptlib, opal.</p>
  -->
  </li>
<!--
  <li>
    <div class='title'><span class='date'>2008</span>
      3D pinball game with a level editor
    </div>
    <p>We wrote the backend of the game in <code>C++</code> and the level editor
    in <code>Java</code>. The levels were saved in <code>XML</code>.
    I was leading the team and managing the project.</p>
  </li>
-->
<!-- deleted to keep in 2 pages
  <li>
    <div class='title'><span class='date'>2007 - 2008</span>
    Nintendo DS Homebrew</div>
    <p>Implemented a 3D engine and sound engine on Nintendo DS using libNDS.
    As a homebrew project, it was done at a very low level.</p>
  </li>
-->
<!--
  <li>
    <div class='title'><span class='date'>2006 - 2007</span>
    3D shoot'em up on MacOS X and Linux</div>
    <p>I made this game with a friend. I worked on the rendering engine on top
    of OpenGL/Glut, the sound engine on top of OpenAL and the physics engine.</p>
  </li>
-->
<!-- deleted to keep in 2 pages
  <li>
    <div class='title'><span class='date'>2002 - 2006</span>
      Writing and paper publishing of a book
    </div>
    <p>Wrote an unofficial extension for Warhammer Battle and created a
    non-profit publishing organization to be able to paper publish it.</p>
  </li>
-->
  </ul>
</section>

{% endblock %}
